# ========================
# Entornos Virtuales
# ========================
.env
.venv/
venv/
env/
ENV/

# ========================
# Python y Jupyter
# ========================
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/




/.quarto/
**/*.quarto_ipynb
